/*
 *
 * Common
 *
 *
*/

header, section, div, p, img {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: 14px;
}

.primary_color {
  color: #2d3c49;
}

.secondary_color {
  color: #7d97ad;
}

/*
 *
 * Header
 *
 *
*/

.header__inner {
  height: 80px;
  display: flex;
}

.header__logo {
  height: 100%;
}

.header__text {
  padding-left: 1em;
  vertical-align: middle;
}

.header__name {
  text-align: left;
  margin: 0;
  font-size: 1.5em;
  padding-top: 10%;
}

.header__title {
  text-align: left;
  margin: 0;
  font-size: 1em;
}

/*
 *
 * Background Information
 *
 *
*/

hr {
  border-width: 1.5px;
  border-style: solid;
}

.headline {
  height: 300px;
  position: relative;
}

.headline__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headline__about {
  position: absolute;
  color: wheat;
  font-size: 1.25em;
  width: 75%;
  margin-left: 1em;
}

.headline p:nth-child(2) {
  top: 7em;
}

.headline p:nth-child(3) {
  top: 10em;
}

/*
 *
 * Project List
 *
 *
*/
.works {
  display: flex;
  flex-wrap: wrap;
}

.works__header {
  padding-top: 1em;
  text-align: center;
  width: 100%;
}

.project__tile {
  width: 100%;
}

.project__image {
  width: 80%;
  display: block;
  margin: auto;
}

.project__title {
  text-align: center;
}

.project__link {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 2em;
}